REACT_APP_SUPABASE_URL=https://tpifyetsdxjcxnlndbby.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwaWZ5ZXRzZHhqY3hubG5kYmJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjQ5OTcxODcsImV4cCI6MTk4MDU3MzE4N30.WT5BQi5vCOAljmzILDp4NiJomfFelefQBX7bBychyQ4