.auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
    /* text-decoration: underline; */
    padding: 150px;
    font-size: 20px;
    border: solid 2px;
    height: fit-content;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 3vh;

}

.form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    
}
 .link {
    text-decoration: none;
 }